<!-- ОСНОВНОЙ КОНТЕНТ - СПИСОК ТРЕКОВ -->
<main class="container mt-5 pt-5">
    <form [formGroup]="form" class="search-container mb-5">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="search-addon">
                <i class="bi bi-search"></i>
            </span>
            <input type="search" class="form-control" formControlName="searchText"
                placeholder="Что вы хотите послушать?" aria-label="Search" aria-describedby="search-addon">
        </div>
    </form>

    <ul class="list-group track-list">
        <!-- Заголовок таблицы -->
        <li class="list-group-item d-flex align-items-center text-secondary small">
            <div class="track-number me-3">#</div>
            <div class="flex-grow-1">НАЗВАНИЕ</div>
            <div class="ms-auto">
                <i class="bi bi-clock"></i>
            </div>
        </li>

        <!-- Трек 1 -->
        <li class="list-group-item d-flex align-items-center" *ngFor="let music of (musicList$ | async)"
            (click)="onMusicSelect(music)">
            <div class="track-number me-3">1</div>
            <img src="https://placehold.co/100x100/1DB954/FFFFFF?text=A" alt="Album Art" class="track-album-art me-3">
            <div class="me-auto">
                <div class="track-title">{{ music.name }}</div>
                <div class="track-artist">{{ music.author }}</div>
            </div>
            <div class="track-duration">3:20</div>
        </li>
    </ul>
</main>