<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willysancyh.trackwave.mapper.AuthorEntityMapper">

    <resultMap id="AuthorEntityMap" type="com.willysancyh.trackwave.entity.AuthorEntity">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <insert id="insertAuthorEntity" keyColumn="id" keyProperty="id" parameterType="com.willysancyh.trackwave.entity.AuthorEntity">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT nextval('AUTHOR_SEQ')
        </selectKey>
        INSERT INTO AUTHOR(ID, NAME)
        VALUES (#{id}, #{name})
    </insert>
</mapper>